
  .experience-form {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    background-color: #f5f5f5;
    
    
  }
  
  .header {
    height: 50px; /* px와 숫자 사이에 공백을 제거 */
    display: flex;
    flex-direction: row;
    align-items: center; /* align-items: stretch 대신 center 사용 */
    flex-wrap: nowrap;
    border-style: solid;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 1px;
    border-bottom-color: #E6E6E6;
    background-color: #fff;
  }
  
  .header-content {
    display: flex;
    align-items: center;
    width: 100%; /* 부모의 너비로 설정 */
  }
  
  .BarLogo {
    top: 8px;
    left: 20px;
    z-index: 2;
    position: absolute;
  }
  
  .header-info {
    flex-grow: 1; /* 나머지 공간 차지 */
    text-align: left;
    display: flex;
    justify-content: center; /* 중앙 정렬 */
    font-weight:bold;
  }
  
  .main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* 중앙 정렬 */
  }
  .main-content {
    padding: 20px;
    margin-top: 30px;
    background-color: #ffffff;

    width: 600px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .progress-bar {
    height: 4px;
    width: 100%;
    background-color: #ffd700;
    border-radius: 2px;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  
  .section-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;

  }
  
  .instruction {
    margin-bottom: 30px;
  }
  
  .options {
    display: flex;
    flex-direction: column;
  
  }
  
  .option-button {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50px;
    padding: 15px;
    font-size: 16px;
    font-weight: 600;
    
    text-align: left;
    margin-bottom: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  
  .option-button:hover {
    border-color: #ff8c00;
  }
  
  .option-button::before {
    content: "🔥";
    margin-right: 10px;
  }
  
  .option-button:nth-child(2)::before {
    content: "🕊️";
  }
  
  .option-button:nth-child(3)::before {
    content: "🔔";
  }
  

  .navigation-buttons {
    margin-top: 15px;
    width: 645px;
    display: flex;
  }
  
  .nav-button {
    background-color: #e0e0e0;
    border: none;
    width: 100%;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .nav-button:hover {
    background-color: #bdbdbd;
  }
  
  .next-button {
    background-color: #d3d3d3;
  }
  
  .next-button:hover {
    background-color: #a9a9a9;
  }
  